@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  text-decoration: none !important;
}
a {
  box-shadow: none !important;
  cursor: pointer;
}
.left-items {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.right-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
  flex-basis: 80%;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #90ee90 !important;
}
.search-bar {
  flex-basis: 55%;
}

.profile-links {
  display: flex;
}

.bar_icon {
  display: none;
}
@media only screen and (max-width: 992px) {
  .search-bar {
    display: none;
  }
  .nav_link {
    display: none;
  }
  .bar_icon {
    display: block;
    margin-right: 20px;
  }
}
.nodata {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-bar {
  margin-right: 50px;
  padding: 10px 10px;
  max-width: 100%;
  line-height: 24px;
  outline: 0;
  border: 1px solid #f5f5f6;
  background-color: #f5f5f6;
}

.link {
  text-decoration: none;
  display: block;
  color: #000;
  text-align: center;
  padding: 0 15px;
}

.header_wraper {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  max-width: 100%;
}

/* .product_div {
}

.product-left-side {
    display: flex;
} */

.product-info {
  font-family: "Roboto", sans-serif;
}

.product-manuf {
  color: rgb(88, 208, 255);
}
.price {
  font-size: 25px;
  color: rgb(200, 70, 70);
}
.prod-category {
  color: rgb(0, 173, 241);
  font-size: 20px;
}
.in-stock {
  color: green;
  font-size: 20px;
}
.out-of-stock {
  color: red;
  font-size: 20px;
}
.buy-product {
}
.asdf {
  width: 100%;
  margin: 5px;
}

.display-box {
  height: 250px;
}

.prod-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}
.product-info {
  padding: 15px;
}

.count {
  width: 10% !important;
}

.prod-slider {
  width: 100%;
}

.category-head {
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 0;
}

.prod-img-home {
  width: 100%;
}

.prod-info-home {
  margin-top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-left: 4px;
  margin-right: 4px;
}
.prod-info-home:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.price-home {
  font-size: 20px;
  color: rgb(200, 70, 70);
}

.prod-category-cart {
  color: rgb(0, 173, 241);
  font-size: 15px;
}

.price-cart {
  font-size: 15px;
  color: rgb(200, 70, 70);
}

.total-amount {
  padding-top: 8px !important;
}

.nodata-text {
  font-size: 25px;
  font-weight: 400;
  font-family: "Roboto";
}
